# Игнорировать все временные файлы, которые как правило начинаються со знака тильды
*~

# Игнорировать папку с нодой и её модулями
node_modules/

# Игнорировать папку с компонентами Bower
bower_components/

#Игнорирывать минифицированные файлы
css/*.min.css
js/*.min.js
*/logs
*.log

#Игнорирывать основные скомпилированные файлы
/dist

# Игнорировать забэкапленный файл (Grunt создает его автоматически)
variables.less.bak