html {
	height: 100%;
}
body {
	height: auto !important;
	min-height: 100%;
	min-width: 320px; //iPhone 4
	letter-spacing: .4px;
	font-family: 'Avenir Next Cyr', sans-serif;
}

/*--------- Коллекция цветов ---------*/
@red: #ed1010;
@cinderella: #fbd5d5;
@vivid-tangerine: #fe9389;

.wrapper {
	margin: 0 auto;
	max-width: 1366px;
}
header {
	background-color: #ff2929;
	.topHead {
		background: none;
		.navbar {
			background: none;
			border: none;
			box-shadow: none;
			border-radius: 0;
			margin: 0;
			.navbar-header {
				padding: 32px 15px 12px;
				.actionWrapper {
					overflow: hidden;
				}
				.navbar-form {
					position: relative;
					border: none;
					box-shadow: none;
					overflow: hidden;
					padding: 0 15px;
					margin: 13px 0 0;
					.form-group {
						position: relative;
						height: 38px;
						input {
							opacity: 0;
							transition: opacity .15s ease-out;
							position: relative;
							z-index: auto;
							height: 38px;
							padding-right: 25px;
							&:focus {
								box-shadow: none;
								border-color: #fff;
								opacity: 1;
								z-index: 1;
								transition: opacity .15s ease-out;
								width: 100%;
								~ label {
									transition: opacity .15s ease-out;
									pointer-events: none;
									opacity: 0;
									z-index: 0;
								}
								~ button {
									display: block;
								}
							}
						}
						button {
							z-index: 1;
							display: none;
							position: absolute;
							outline: none;
							border: none;
							background: none;
							padding: 0;
							top: 0;
							right: 0;
							bottom: 0;
							width: 25px;
							border-radius: 0 4px 4px 0;
						}
						label {
							transition-property: opacity, margin-left;
							transition-duration: .3s;
							transition-timing-function: ease-out;
							opacity: 1;
							cursor: pointer;
							position: absolute;
							height: 38px;
							top: 50%;
							left: 50%;
							margin: -20px 0 0 -21.5px;
							.glyphicon {
								color: #fff;
							}
						}
					}
				}
				.navbar-toggle {
					position: relative;
					transition-property: right, border-color, background-color;
					transition-duration: .3s;
					transition-timing-function: ease-out;
					background-color: @red;
					border-color: darken(@red, 4.1%);
					margin-top: 6px;
					margin-bottom: 0;
					margin-right: 0;
					.icon-bar {
						width: 42px;
						height: 4px;
						border-radius: 4px;
						background-color: #fff;
						+ .icon-bar {
							margin-top: 10px;
						}
					}
					&.collapsed {
						transition-property: right, border-color, background-color;
						transition-duration: .3s;
						transition-timing-function: ease-out;
						background-color: transparent;
						border-color: transparent;
					}
				}
				.navbar-brand {
					position: relative;
					color: inherit;
					font-size: inherit;
					line-height: normal;
					height: auto;
					left: 0;
					padding: 0;
					transition: left .1s ease-out;
					span {
						display: inline-block;
						vertical-align: top;
					}
				}
			}
			.navbar-collapse {
				&.navbar-default {
					border-radius: 0;
				}
				.nav {
					.dropdown {
						border-bottom: 1px solid #e5e5e5;
						.dropdown-header {
							font-style: italic;
							font-weight: 100;
						}
					}
					> li {
						&.phone {
							display: none;
							float: right;
							> a {
								font-weight: 600;
								font-size: 18px;
							}
						}
						> a {
							padding-top: 8px;
							padding-bottom: 8px;
						}
					}
				}
			}
		}
	}
	.mainHead {
		height: 80px;
		.logo {
			display: none;
			float: left;
			margin-top: 20px;
			margin-left: 10px;
			margin-right: 42px;
		}
		nav {
			float: left;
			ul {
				list-style: none;
				margin: 0;
				padding: 0;
			}
			li {
				float: left;
				text-align: center;
				padding: 24px 12px 28px;
				height: 80px;
				a {
					display: inline-block;
					letter-spacing: .3px;
					color: #fff;
					font-size: 16px;
					font-weight: 600;
				}
				~ li {
					margin-left: 25px;
				}
			}
		}
		.search {
			overflow: hidden;
			margin-top: 22px;
			padding-right: 15px;
			.form-group {
				position: relative;
				input {
					pointer-events: none;
					transition: opacity .15s ease-out;
					outline: none;
					opacity: 0;
					z-index: 1;
					padding-right: 25px;
					&:focus {
						pointer-events: auto;
						transition: opacity .15s ease-out;
						opacity: 1;
						box-shadow: none;
						border-color: #fff;
						~ label {
							transition: opacity .15s ease-out;
							pointer-events: none;
							opacity: 0;
							z-index: 0;
						}
						~ button {
							transition: opacity .15s ease-out;
							pointer-events: auto;
							opacity: 1;
							z-index: 1;
						}
					}
				}
				label {
					pointer-events: auto;
					z-index: auto;
					transition-property: opacity, margin-left;
					transition-duration: .3s;
					transition-timing-function: ease-out;
					position: absolute;
					margin: -11px 0 0 -21.5px;
					top: 50%;
					left: 50%;
				}
				button {
					pointer-events: none;
					opacity: 0;
					z-index: 0;
					position: absolute;
					border: none;
					background: none;
					outline: none;
					top: 0;
					right: 0;
					bottom: 0;
					padding: 0;
					width: 25px;
				}
			}
		}
		.authorization {
			display: none;
			float: right;
			margin-top: 20px;
		}
		.wrapper {
			padding: 0 15px;
		}
	}
}
button {
	&.btn-custom {
		text-align: center;
		background: none;
		outline: none;
		border-radius: 20px;
		&.btn-custom-default {
			border: 2px solid @cinderella;
			font-weight: 600;
			color: #fff;
			height: 40px;
			font-size: 18px;
			padding-left: 18px;
			padding-right: 18px;
			&:hover {
				border-color: #fff;
				background-color: #fff;
				color: @red;
			}
		}
	}
}