html {
	height: 100%;
}
body {
	height: auto !important;
	min-height: 100%;
	min-width: 320px; //iPhone 4
	letter-spacing: .4px;
	font-family: 'PT Sans', sans-serif;
}

/*--------- Коллекция цветов ---------*/
@red: #ed1010;
@cinderella: #fbd5d5;
@vivid-tangerine: #fe9389;

button {
	&.btn-custom {
		text-align: center;
		background: none;
		outline: none;
		border-radius: 20px;
		&.btn-custom-default {
			border: 2px solid @cinderella;
			font-weight: 600;
			color: #fff;
			height: 40px;
			font-size: 18px;
			padding-left: 18px;
			padding-right: 18px;
			&:hover {
				border-color: #fff;
				background-color: #fff;
				color: @red;
			}
		}
	}
}
.wrapper {
	margin: 0 auto;
	max-width: 1366px;
}
header {
	font-family: 'Avenir Next Cyr', sans-serif;
	background-color: #ff2929;
	.topHead {
		background: none;
		.navbar {
			background: none;
			border: none;
			box-shadow: none;
			border-radius: 0;
			margin: 0;
			.navbar-header {
				padding: 32px 15px 12px;
				.actionWrapper {
					overflow: hidden;
				}
				.navbar-form {
					position: relative;
					border: none;
					box-shadow: none;
					overflow: hidden;
					padding: 0 15px;
					margin: 13px 0 0;
					.form-group {
						position: relative;
						height: 38px;
						input {
							opacity: 0;
							transition: opacity .15s ease-out;
							position: relative;
							z-index: auto;
							height: 38px;
							padding-right: 25px;
							&:focus {
								box-shadow: none;
								border-color: #fff;
								opacity: 1;
								z-index: 1;
								transition: opacity .15s ease-out;
								width: 100%;
								~ label {
									transition: opacity .15s ease-out;
									pointer-events: none;
									opacity: 0;
									z-index: 0;
								}
								~ button {
									display: block;
								}
							}
						}
						button {
							z-index: 1;
							display: none;
							position: absolute;
							outline: none;
							border: none;
							background: none;
							padding: 0;
							top: 0;
							right: 0;
							bottom: 0;
							width: 25px;
							border-radius: 0 4px 4px 0;
						}
						label {
							transition-property: opacity, margin-left;
							transition-duration: .3s;
							transition-timing-function: ease-out;
							opacity: 1;
							cursor: pointer;
							position: absolute;
							height: 38px;
							top: 50%;
							left: 50%;
							margin: -20px 0 0 -21.5px;
							.glyphicon {
								color: #fff;
							}
						}
					}
				}
				.navbar-toggle {
					position: relative;
					transition-property: right, border-color, background-color;
					transition-duration: .3s;
					transition-timing-function: ease-out;
					background-color: @red;
					border-color: darken(@red, 4.1%);
					margin-top: 6px;
					margin-bottom: 0;
					margin-right: 0;
					.icon-bar {
						width: 42px;
						height: 4px;
						border-radius: 4px;
						background-color: #fff;
						+ .icon-bar {
							margin-top: 10px;
						}
					}
					&.collapsed {
						transition-property: right, border-color, background-color;
						transition-duration: .3s;
						transition-timing-function: ease-out;
						background-color: transparent;
						border-color: transparent;
					}
				}
				.navbar-brand {
					position: relative;
					color: inherit;
					font-size: inherit;
					line-height: normal;
					height: auto;
					left: 0;
					padding: 0;
					transition: left .1s ease-out;
					span {
						display: inline-block;
						vertical-align: top;
					}
				}
			}
			.navbar-collapse {
				&.navbar-default {
					border-radius: 0;
				}
				.nav {
					.dropdown {
						border-bottom: 1px solid #e5e5e5;
						.dropdown-header {
							font-style: italic;
							font-weight: 100;
						}
					}
					> li {
						&.phone {
							display: none;
							float: right;
							> a {
								font-weight: 600;
								font-size: 18px;
							}
						}
						> a {
							padding-top: 8px;
							padding-bottom: 8px;
						}
					}
				}
			}
		}
	}
	.mainHead {
		.logo {
			display: none;
			float: left;
			margin-top: 20px;
			margin-left: 10px;
			margin-right: 42px;
		}
		nav {
			float: left;
			ul,
			li {
				height: 72px;
			}
			ul {
				overflow: hidden;
				list-style: none;
				margin: 0;
				padding: 0;
			}
			li {
				float: left;
				text-align: center;
				padding: 25px 12px;
				a {
					display: inline-block;
					color: #fff;
					font-size: 16px;
					font-weight: 600;
				}
				~ li {
					margin-left: 25px;
				}
			}
		}
		.search {
			overflow: hidden;
			margin-top: 22px;
			padding-right: 15px;
			.form-group {
				position: relative;
				input {
					pointer-events: none;
					transition: opacity .15s ease-out;
					outline: none;
					opacity: 0;
					z-index: 1;
					padding-right: 25px;
					&:focus {
						pointer-events: auto;
						transition: opacity .15s ease-out;
						opacity: 1;
						box-shadow: none;
						border-color: #fff;
						~ label {
							transition: opacity .15s ease-out;
							pointer-events: none;
							opacity: 0;
							z-index: 0;
						}
						~ button {
							transition: opacity .15s ease-out;
							pointer-events: auto;
							opacity: 1;
							z-index: 1;
						}
					}
				}
				label {
					cursor: pointer;
					pointer-events: auto;
					z-index: auto;
					transition-property: opacity, margin-left;
					transition-duration: .3s;
					transition-timing-function: ease-out;
					position: absolute;
					margin: -11px 0 0 -21.5px;
					top: 50%;
					left: 50%;
				}
				button {
					pointer-events: none;
					opacity: 0;
					z-index: 0;
					position: absolute;
					border: none;
					background: none;
					outline: none;
					top: 0;
					right: 0;
					bottom: 0;
					padding: 0;
					width: 25px;
				}
			}
		}
		.authorization {
			display: none;
			float: right;
			margin-top: 20px;
		}
		.wrapper {
			padding: 0 15px;
		}
	}
}
.mainSlider {
	height: 640px;
	.carousel-inner {
		padding-bottom: 60px;
	}
	.item {
		text-align: center;
		height: 640px;
		img {
			min-width: 100%;
			min-height: 100%;
		}
		&.chiken {
			overflow: hidden;
			background-color: #f1e0d4;
			img {
				transition: transform .3s ease-out;
				position: absolute;
				max-width: none;
				top: 50%;
				left: 50%;
				margin-top: -250px;
				margin-left: -683px;
				min-width: auto;
				min-height: auto;
				transform: translate(-200px, 95px);
			}
		}
		.carousel-caption {
			font-family: 'Avenir Next Cyr', sans-serif;
			text-align: left;
			text-shadow: none;
			color: inherit;
			left: 15px;
			right: 15px;
			top: 30px;
			padding: 0;
			bottom: auto;
			.event {
				font-size: 22px;
			}
			.title {
				font-weight: bold;
				line-height: 1.2em;
				margin-top: 15px;
				margin-bottom: 25px;
				font-size: 40px;
			}
			.details {
				font-size: 22px;
			}
		}
	}
	.priceTag {
		display: none;
		font-family: 'Avenir Next Cyr', sans-serif;
		position: absolute;
		bottom: -96px;
		right: 30px;
		.price {
			text-align: center;
			white-space: nowrap;
			font-weight: 600;
			color: #fff;
			font-size: 54px;
			padding-top: 36px;
			.overflow {
				overflow: hidden;
				text-overflow: ellipsis;
				height: 64px;
				sup {
					position: relative;
					font-weight: bold;
					font-size: 30px;
					top: -18px;
					left: -9px;
				}
			}
		}
		.oldPrice {
			text-align: left;
			white-space: nowrap;
			font-weight: 600;
			color: #0e7b2f;
			padding-left: 28px;
			font-size: 27px;
			.overflow {
				overflow: hidden;
				text-overflow: ellipsis;
				letter-spacing: -.7px;
				.inline-block {
					position: relative;
					sup {
						position: relative;
						font-weight: bold;
						font-size: 16px;
						top: -9px;
						left: -3px;
					}
					strike {
						position: absolute;
						left: 0;
						right: 0;
						top: 50%;
						margin-top: -3px;
						height: 2px;
						background-color: #fff;
						transform: rotate(-15deg);
					}
				}
			}
		}
		.discount {
			text-align: right;
			white-space: nowrap;
			font-size: 27px;
			padding-right: 36px;
			margin-top: 1px;
			color: #fff;
			.overflow {
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
	}
	.carousel-indicators {
		text-align: center;
		overflow: hidden;
		left: 15px;
		right: 15px;
		bottom: 13px;
		font-size: 0;
		width: auto;
		margin: 0;
		li {
			width: 14px;
			height: 14px;
			border-color: #d9cabb;
			border-width: 2px;
			border-radius: 50%;
			~ li {
				margin-left: 29px;
			}
			&.active {
				background-color: #ff2a2a;
				border-color: #ff2a2a;
			}
		}
	}
	.social {
		position: absolute;
		left: 50%;
		margin-left: -140px;
		z-index: 16;
		bottom: -96px;
		.item {
			position: relative;
			overflow: hidden;
			float: left;
			width: 72px;
			height: 72px;
			border-radius: 50%;
			border: 2px solid #d9cabb;
			~ .item {
				margin-left: 29px;
			}
			> * {
				transform: scale(1.45);
				transform-origin: center center;
				position: absolute;
				top: 50%;
				left: 50%;
			}
			&.vk {
				> * {
					margin-top: -6.5px;
					margin-left: -11px;
				}
				&:hover {
					background-color: #427ea6;
					border-color: #427ea6;
				}
			}
			&.od {
				> * {
					margin-top: -10px;
					margin-left: -6px;
				}
				&:hover {
					background-color: #ff8304;
					border-color: #ff8304;
				}
			}
			&.ma {
				> * {
					margin-top: -10px;
					margin-left: -10px;
				}
				&:hover {
					background-color: #008ee6;
					border-color: #008ee6;
					> * {
						margin-top: -21px;
						margin-left: -21px;
					}
				}
			}
		}
	}
}