html {
	height: 100%;
}
body {
	height: auto !important;
	min-height: 100%;
}
// .body {
// 	max-width: 1024px;
// 	margin: 0 auto;
// }
header {
	height: 120px;
	background-color: #ff2929;
	.topHead {
		height: 40px;
		background-color: #ed1010;
	}
}