@media (max-width: 767px) {
	header {
		.mainHead {
			nav {
				float: none;
				ul {
					text-justify: newspaper;
					zoom:1;
					text-align: justify;
					&:after {
						width: 100%;
						height: 0;
						visibility: hidden;
						overflow: hidden;
						content: '';
						display: inline-block;
					}
					li {
						float: none;
						display: inline-block;
						padding-left: 0;
						padding-right: 0;
						~ li {
							margin-left: 0;
						}
					}
				}
			}
		}
	}
}
@media (max-width: 510px) {
	header {
		.topHead {
			.navbar {
				.navbar-header {
					.navbar-brand {
						transition-property: left, margin-left;
						transition-duration: .1s;
						transition-timing-function: ease-out;
						float: none;
						left: 50%;
						margin-left: -147.5px;
					}
					.navbar-form {
						padding-left: 0;
						.form-group {
							input {
								opacity: 1;
								~ label {
									transition: none;
									pointer-events: none;
									z-index: 0;
									opacity: 0;
								}
								~button {
									display: block;
								}
							}
						}
					}
				}
			}
		}
	}
}
@media (max-width: 319px) {
	header {
		.topHead {
			.navbar {
				.navbar-header {
					.navbar-brand {
						transition-property: left, margin-left;
						transition-duration: .1s;
						transition-timing-function: ease-out;
						margin-left: 0;
						left: -4px;
					}
				}
			}
		}
	}
}
@media (min-width: 632px) {
	header {
		.topHead {
			.navbar {
				.navbar-header {
					.navbar-form {
						.form-group {
							label {
								transition: margin-left .3s ease-out;
								margin: -20px 0 0 6px;
							}
						}
					}
				}
			}
		}
	}
}
@media (min-width: 640px) {
	header {
		.topHead {
			.navbar {
				.navbar-header {
					padding: 32px 21px 12px 33px;
				}
			}
		}
		.mainHead {
			nav {
				ul,
				li {
					height: 100px;
				}
				li {
					padding: 25px 12px 38px;
					a {
						font-size: 26px;
						letter-spacing: .72px;
					}
				}
			}
			.wrapper {
				padding: 0 30px;
			}
		}
	}
	.mainSlider {
		height: 640px;
		margin-bottom: 158px;
		.item {
			height: 640px;
			&.chiken {
				img {
					transition: transform .3s ease-out;
					transform: translate(-200px, 96px);
				}
			}
			.carousel-caption {
				left: 33px;
				right: 33px;
				top: 42px;
				.title {
					font-size: 44px;
				}
			}
		}
		.social {
			left: 32px;
			margin-left: 0;
			.item {
				~ .item {
					margin-left: 32px;
				}
			}
		}
		.carousel-indicators {
			text-align: left;
			bottom: 25px;
			left: 30px;
			right: 30px;
		}
		.priceTag {
			display: block;
		}
	}
	.promoList {
		padding-left: 30px;
		padding-right: 30px;
		.list {
			margin-top: 22px;
		}
		.item {
			.image {
				.priceTag {
					width: 128px;
					height: 128px;
					right: 34px;
					bottom: -32px;
					.cell {
						.overflow {
							font-size: 38.4px;
							sup {
								top: -14px;
								font-size: 22px;
								left: 1px;
							}
						}
					}
				}
			}
			.infoBlock {
				height: 239px;
				padding: 0 33px 10px;
				.category {
					letter-spacing: .4px;
					padding-top: 42px;
					font-size: 22px;
					.icon {
						vertical-align: baseline;
					}
				}
				.name {
					font-size: 32px;
					margin-top: 30px;
					letter-spacing: .7px;
				}
				.time {
					font-size: 24px;
					.icon-clock {
						display: none;
					}
					.icon-clock-lg {
						display: inline-block;
					}
				}
			}
			.purchase {
				height: 97px;
				.cell {
					font-size: 24px;
				}
			}
		}
	}
	.chronicle {
		.item {
			width: 112px;
			height: 112px;
		}
	}
	.marketNetworkPromo {
		.center-block {
			left: -28px;
			height: 304px;
		}
	}
	.marketCardPromo {
		padding: 0 30px 64px;
		.title {
			font-size: 43px;
		}
		button {
			width: 100%;
		}
		.card {
			&.big {
				display: block;
			}
		}
	}
	footer {
		.wrapper {
			padding-left: 30px;
			padding-right: 30px;
		}
	}
}
@media (min-width: 768px) {
	header {
		.topHead {
			background-color: @red;
			.navbar {
				min-height: auto;
				.navbar-header {
					padding: 0;
					.navbar-brand {
						padding: 0 0 0 3px;
					}
				}
				.navbar-collapse {
					padding-left: 0;
					padding-right: 0;
					&.navbar-default {
						background: none;
						box-shadow: none;
					}
					.nav {
						float: none;
						.dropdown {
							border-bottom: none;
							> a {
								box-shadow: none;
							}
							.dropdown-toggle {
								font-family: 'Avenir Next Cyr', sans-serif;
								border: none;
								background: none;
								color: @vivid-tangerine;
								.icon-baloon {
									position: relative;
									top: 3px;
									left: -3px;
									margin-right: -1px;
								}
								.arrow {
									position: relative;
									margin-left: 7px;
									&:before,
									&:after {
										position: absolute;
										top: 50%;
										left: 50%;
										content: "";
										width: 0;
										height: 0;
									}
									&:before {
										margin-top: -8px;
										margin-left: -4px;
										border-top: 6px solid @vivid-tangerine;
										border-left: 5px solid transparent;
										border-right: 5px solid transparent;
									}
									&:after {
										margin-top: -8px;
										margin-left: -3px;
										border-top: 5px solid @red;
										border-left: 4px solid transparent;
										border-right: 4px solid transparent;
									}
								}
							}
							&.open {
								.dropdown-toggle {
									color: #fff;
									.icon-baloon {
										-webkit-filter: contrast(9);
									}
									.arrow {
										&:before,
										&:after {
											border-top: 0;
										}
										&:before {
											border-bottom: 6px solid #fff;
										}
										&:after {
											margin-top: -7px;
											border-bottom: 5px solid @red;
										}
									}
								}
							}
						}
						> li:not(.dropdown) {
							> a {
								box-shadow: none;
								background: none;
								border: 1px solid transparent;
								color: @vivid-tangerine;
								padding-top: 7px;
								padding-bottom: 9px;
								padding-left: 10px;
								padding-right: 10px;
							}
							&:hover > a,
							&.open > a,
							&.active > a {
								color: #fff;
								background-color: darken(@red, 4.1%);
								border-color: darken(@red, 8.2%);
							}
						}
					}
				}
			}
			.wrapper {
				padding-left: 19px;
				padding-right: 16px;
			}
		}
		.mainHead {
			.wrapper {
				padding-left: 19px;
				padding-right: 26px;
			}
			.authorization {
				display: block;
			}
			nav {
				ul,
				li {
					height: auto;
				}
				li {
					padding: 24px 12px 28px;
					a {
						font-size: 20px;
						letter-spacing: .3px;
					}
				}
			}
		}
	}
	.mainSlider {
		margin-bottom: 114px;
		height: 500px;
		.item {
			height: 500px;
			&.chiken {
				img {
					transition: transform .3s ease-out;
					transform: translate(-200px, 0);
				}
			}
			.carousel-caption {
				top: 57px;
				.title {
					width: 400px;
					margin-top: 71px;
					font-size: 50px;
					margin-bottom: 84px;
				}
				.event {
					letter-spacing: .2px;
					font-size: 20px;
				}
			}
		}
		.social {
			bottom: -60px;
			.item {
				width: 40px;
				height: 40px;
				~ .item {
					margin-left: 30px;
				}
				> * {
					transform: scale(1);
				}
			}
		}
	}
	.chronicle {
		padding: 96px 0px 97px;
	}
	.promoList {
		.list {
			margin-top: 8px;
		}
		.item {
			.image {
				.priceTag {
					width: 66px;
					height: 66px;
					right: 16px;
					bottom: -18px;
					.cell {
						.overflow {
							font-size: 20px;
							sup {
								top: -8px;
								font-size: 10px;
								left: auto;
							}
						}
					}
				}
			}
			.infoBlock {
				height: 142px;
				padding: 0 19px 10px;
				.category {
					letter-spacing: 1.3px;
					padding-top: 31px;
					font-size: 12px;
					.icon {
						vertical-align: middle;
						letter-spacing: .4px;
					}
				}
				.name {
					font-size: 19px;
					margin-top: 7px;
					letter-spacing: 1.2px;
				}
				.time {
					margin-top: 13px;
					font-size: 16px;
					.icon-clock {
						display: inline-block;
						top: 1px;
					}
					.icon-clock-lg {
						display: none;
					}
				}
			}
			.purchase {
				height: 47px;
				.cell {
					font-size: 16px;
				}
			}
		}
	}
	.marketCardPromo {
		.title {
			font-size: 50px;
			margin-top: 55px;
			margin-bottom: 11px;
			letter-spacing: 0;
		}
		button {
			margin-top: 24px;
			width: auto;
			&.btn-custom-lg {
				display: none;
			}
			&.btn-custom-md {
				display: inline-block;
			}
		}
		p {
			letter-spacing: 0;
			font-size: 19px;
			line-height: 1.35em;
		}
		.card {
			&.big {
				display: none;
			}
			&.small {
				display: block;
				width: auto;
				float: none;
				.paddingTop {
					padding-top: calc(100% / 1.6934);
				}
				.absolute {
					padding: 18px 12px;
				}
			}
		}
	}
	footer {
		padding-top: 60px;
		padding-bottom: 185px;
		.wrapper {
			> .row {
				> [class^="col-"] {
					> ul {
						margin-top: 5px;
						border-bottom: none;
						> li {
							> a {
								display: none;
							}
							> ul {
								display: block;
								top: auto;
								margin-top: 20px;
								margin-bottom: 0;
							}
						}
					}
					.title {
						display: block;
					}
					.padding {
						padding-top: 0;
					}
					address {
						margin: 11px 0 0;
						font-size: 16px;
						letter-spacing: .4px;
						p {
							~ p {
								margin-top: 4px;
							}
							&:first-child {
								+ p {
									line-height: 1.9em;
								}
							}
						}
					}
					.icon-logo-gray {
						display: inline-block;
					}
					.icon-logo-gray-lg {
						display: none;
					}
				}
			}
		}
	}
}
@media (min-width: 840px) {
	header {
		.topHead {
			.navbar {
				.navbar-collapse {
					.nav {
						.dropdown {
							+ li {
								margin-left: 86px;
							}
						}
					}
				}
			}
		}
	}
}
@media (min-width: 910px) {
	header {
		.mainHead {
			.logo {
				display: block;
			}
		}
	}
}
@media (min-width: 992px) {
	.chronicle {
		padding: 96px 15px 97px;
	}
	.marketCardPromo {
		.card {
			&.small {
				float: right;
				width: 337px;
				.paddingTop {
					padding-top: 199px;
				}
				.absolute {
					padding: 18px 25px;
				}
			}
		}
	}
}
@media (min-width: 1024px) {
	header {
		.topHead {
			.navbar {
				.navbar-collapse {
					.nav {
						> li {
							&.phone {
								display: block;
							}
						}
					}
				}
			}
		}
		.mainHead {
			.search {
				.form-group {
					label {
						transition: margin-left .3s ease-out;
						margin: -11px 0 0;
						left: auto;
						right: 17px;
					}
				}
			}
			nav {
				ul,
				li {
					height: auto;
				}
				li {
					padding: 24px 12px 28px;
					a {
						font-size: 20px;
						letter-spacing: .3px;
					}
				}
			}
		}
	}
	.mainSlider {
		.item {
			&.chiken {
				img {
					transition: transform .3s ease-out;
					transform: translate(-20px, 0);
				}
			}
		}
		.priceTag {
			bottom: -60px;
		}
		.carousel-indicators {
			text-align: center;
			bottom: -48px;
		}
	}
	.chronicle {
		margin-top: -2px;
		padding: 55px 30px 57px;
		.item {
			width: 100px;
			height: 100px;
		}
	}
	.marketNetworkPromo {
		padding: 0 60px;
		.center-block {
			left: -18px;
			height: 300px;
		}
	}
	.marketCardPromo {
		padding: 0px 58px 60px;
	}
}
@media (min-width: 1200px) {
	header {
		.topHead {
			.navbar {
				.navbar-collapse {
					.nav {
						.dropdown {
							~ li {
								margin-left: 3px;
							}
							+ li {
								margin-left: 112px;
							}
						}
						> li:not(.dropdown) {
							> a {
								padding-left: 15px;
								padding-right: 15px;
							}
						}
					}
				}
			}
			.wrapper {
				padding-left: 50px;
				padding-right: 42px;
			}
		}
		.mainHead {
			.wrapper {
				padding-left: 50px;
				padding-right: 60px;
			}
		}
	}
	.mainSlider {
		.item {
			&.chiken {
				img {
					transition: transform .3s ease-out;
					transform: translate(0, 0);
				}
			}
			.carousel-caption {
				left: 60px;
				right: 60px;
				.event {
					letter-spacing: -.2px;
				}
			}
		}
		.priceTag {
			right: 60px;
		}
		.social {
			left: 60px;
		}
	}
	.promoList {
		padding: 0 60px;
		.list {
			margin-top: 17px;
		}
		.item {
			.image {
				.priceTag {
					width: 80px;
					height: 80px;
					bottom: -20px;
					right: 20px;
					.cell {
						.overflow {
							font-size: 24px;
							sup {
								top: -8px;
								font-size: 14px;
							}
						}
					}
				}
			}
			.infoBlock {
				height: 159px;
				.category {
					letter-spacing: .25px;
					font-size: 16px;
					padding-top: 24px;
				}
				.name {
					font-size: 23px;
					margin-top: 12px;
				}
				.time {
					margin-top: 16px;
					font-size: 18px;
					.icon {
						&.icon-clock-lg {
							display: none;
						}
					}
				}
			}
			.purchase {
				height: 60px;
			}
		}
	}
	.chronicle {
		padding-top: 100px;
		padding-bottom: 101px;
		margin-top: 28px;
	}
	.marketNetworkPromo {
		.center-block {
			left: 2px;
		}
	}
	.marketCardPromo {
		.card {
			&.small {
				float: left;
				right: auto;
				margin-left: 34px;
			}
		}
	}
	footer {
		.wrapper {
			padding-left: 60px;
			padding-right: 60px;
		}
	}
}